*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
}

.box{
    height: 165px;
    background: rgba(26, 161, 121, 0.5);
    border-radius: 16px;
}

.box1{
    height: 120px;
    background: rgba(26, 161, 121, 0.5);
    border-radius: 16px;
}